<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./landingPage.css">
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="../../css/slick.css" />
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>iksir</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">
      <img style="width: 65px;" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/iksir.svg" />
    </a>
    <div class="order-sm-2 ml-auto">
      <img class="search_icon" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/Icon feather-search.png" />
      <img class="cart_icon" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/shopping-cart.png" />

    </div>
    <button class=" navbar-toggler order-sm-12 offset-sm-1" type="button" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">SHOP ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OUR PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ....................CLEAN BEAUTY PRODUCTS MADE OUT OF MULT-PURPOSE OILS. -->
  <div class="container-fluid">
    <div class="row">
      <div class="col pt-lg-5 background">
        <div class="head col-md-6 col-5 col-lg-5 pt-lg-5 mt-5 mt-lg-5 ">
          CLEAN BEAUTY PRODUCTS MADE OUT OF MULT-PURPOSE OILS.
        </div>
        <div class="ml-lg-3 mt-lg-2 pb-md-5">
          <button class="btn shopNow_btn my-3 my-sm-5 mt-md-3  mb-md-5 ml-md-3 px-lg-4 " type="submit">
            SHOP NOW
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ...................skil healing and glow boosting -->


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-xl-4 pl-lg-4 mb-3 mb-md-0 pt-lg-5">
        <div class="heading mb-md-3">
          SKIN HEALING AND GLOW BOOSTING PROPERTIES
        </div>
        <div class="paragrap text-justify pr-md-5">
          <div class="mb-md-3">
            All our products are formulated with respect to clean beauty parameters,
            we are cruelty-free, paraben-free and non-toxic.
            Each of our unique products is specially crafted to cleanse,
            hydrate & sooth your skin and hair
          </div>
          <div class="mb-md-3">
            Our multi-purpose skin and
            hair oils are made using hand-picked ingredients and are certified
            organic Iksir products fit comfortably within any existing
            skincare or haircare routine,
            each adding their unique properties for optimal results while
            you relax and practice self-care
          </div>
        </div>

      </div>
      <div class="col-md-7 col-xl-8 p-0">
        <div>
          <img style="width: 100%;"
            src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/shutterstock_1759155728.png" />
        </div>
      </div>
    </div>
  </div>

  <!-- .................................... Our products.......... -->

  <div class="container-fluid">
    <div class="row mt-lg-4">
      <div class="col-3 col-md-4">
        <div class="col-4 line-l"> </div>
      </div>
      <h3 class="col-6 col-md-3 px-md-0 text-center Product_title">OUR PRODUCTS</h3>
      <div class="col-3 col-md-4">
        <div class="col-4 line-r"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="slider">
          <div class="">
            <img class="image1 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/21.png" />
            <hr class="image_line">
            <div>
              <div class="product-text text-center"> ORGANIC NATURAL ROSE WATER</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image2 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/22.png" />
            <hr class="image_line">
            <div>
              <div class="product-text text-center"> ORGANIC MOROCCAN WHITE CLAY</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image3 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/24.png" />
            <hr class="image_line">
            <div>
              <div class="product-text  text-center">ORGANIC ARGAN OIL WITH NEROLI</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image4 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/25.png" />
            <hr class="image_line">
            <div>
              <div class="product-text  text-center">ORGANIC ARGAN OIL WITH NEROLI</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image1 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/21.png" />
            <hr class="image_line">
            <div>
              <div class="product-text text-center"> ORGANIC NATURAL ROSE WATER</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image2 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/22.png" />
            <hr class="image_line">
            <div>
              <div class="product-text text-center "> ORGANIC MOROCCAN WHITE CLAY</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image3 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/24.png" />
            <hr class="image_line">
            <div>
              <div class="product-text  text-center">ORGANIC ARGAN OIL WITH NEROLI</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div>
            <img class="image4 mx-auto" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/25.png" />
            <hr class="image_line">
            <div>
              <div class="product-text  text-center ">ORGANIC ARGAN OIL WITH NEROLI</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- .....................EFFECTIVE, ORGANIC CLEAN AND SIMPLE SKINCARE -->

  <div class="container-fluid">
    <div class="row mt-md-5">
      <div class="col-md-6 col-12">
        <div class="ml-lg-5 pr-lg-5 mt-lg-5 pt-lg-5">
          <div class="heading mb-md-3">
            EFFECTIVE, ORGANIC CLEAN AND SIMPLE SKINCARE
          </div>
          <hr class="line">
          <div class="text-justify pr-md-5">
            <div class="text mb-md-3">
              As conscious entrepreneurs we believe in simplicity,
              self-care and proven results inspired by beauty secrets used by our ancestors.
            </div>
            <div class="text mb-md-3">
              That's why the products we carefully crafted are made with love, rich in antioxidant,
              vitamin E/K to witness a healthy and glowing skin,
              perfectly moisturized and hair scalp soothe to support hair growth.
            </div>
            <div class="text mb-md-3">
              You can wrap your skin with love and use our product offer as a full skincare routine or complete your
              regimen with our multi-purpose oils,
              rose water and Moroccan white clay
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="col-12 mt-3">
          <img src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/_ELE3812.png" width="100%" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- ................................spcial bundles........................... -->

    <div class="container-fluid">
    <div class="row mt-md-4">
      <div class="col-md-4 col-3">
        <div class="col-4 line-l"> </div>
      </div>
      <h3 class="col-md-3 col-6 px-md-0 text-center Product_title">SPECIAL BUNDALS</h3>
      <div class="col-md-4 col-3">
        <div class="col-4 line-r"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="slider2">
          <div class="">
            <img class="SBimage1 mx-auto"
              src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 151.png" />
            <hr class="SBimage_line">
            <div>
              <div class="SB_product_header text-center mx-md-5">THE REFRESH FORMULA hell</div>
              <div class="SB_product_text text-center mx-md-5">Exfoliate. Purity. Radiate Add white clay and rosewater
                to you daily skincare routine</div>
              <div class="SB_product_prize text-center mx-md-5">$155</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div class="">
            <img class="SBimage2 mx-auto"
              src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 152.png" />
            <hr class="SBimage_line">
            <div>
              <div class="SB_product_header text-center mx-md-5">FOR THIRSTY SKIN</div>
              <div class="SB_product_text text-center mx-md-5 mb-md-2 pb-md-1">Glow-boosting hydrater De-stress by
                massaging and hydrating your skin</div>
              <div class="SB_product_prize text-center mx-md-5">$155</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div class="">
            <img class="SBimage1 mx-auto"
              src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 151.png" />
            <hr class="SBimage_line">
            <div>
              <div class="SB_product_header text-center mx-md-5">THE REFRESH FORMULA hell</div>
              <div class="SB_product_text text-center mx-md-5">Exfoliate. Purity. Radiate Add white clay and rosewater
                to you daily skincare routine</div>
              <div class="SB_product_prize text-center mx-md-5">$155</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
          <div class="">
            <img class="SBimage2 mx-auto"
              src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 152.png" />
            <hr class="SBimage_line">
            <div>
              <div class="SB_product_header text-center mx-md-5">FOR THIRSTY SKIN</div>
              <div class="SB_product_text text-center mx-md-5 mb-md-2 pb-md-1">Glow-boosting hydrater De-stress by
                massaging and hydrating your skin</div>
              <div class="SB_product_prize text-center mx-md-5">$155</div>
              <div>
                <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .....................OUR BRAND VISION AND MOROCCAN HERITAGE........................... -->
  <div class="container-fluid">
    <div class="row mt-md-5">

      <div class="col-lg-6 col-12 p-0">
        <img class="ml-lg-5 " src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/shutterstock_1121781590.png"
          width="100%" />
      </div>

      <div class="col-lg-6 col-12 col-sm-12">
        <div class="ml-lg-5 mt-md-3 mt-xl-5 mt-sm-0 pt-xl-5 px-3 mt-3">
          <div class="heading3 mb-lg-3 ">
            OUR BRAND VISION AND MOROCCAN HERITAGE
          </div>
          <hr class="line">
          <div class="text-justify pr-md-5">
            <div class="text mb-lg-3">
              As conscious entrepreneurs we believe in simplicity, 
              self-care and proven results inspired by beauty secrets used by our ancestors.
            </div>
            <div class="text mb-lg-3">
              That's why the products we carefully crafted are made with love, rich in antioxidant, 
              vitamin E/K to witness a healthy and glowing skin,
              perfectly moisturized and hair scalp soothe to support hair growth.
            </div>
            <div class="text mb-lg-3">
              You can wrap your skin with love and use our product offer as a full skincare routine or complete your 
              regimen with our multi-purpose oils, 
              rose water and Moroccan white clay
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </div>
  <!-- ..............................................video .................................................-->

  <div class="container-fluid">
    <div class="row mt-5">

      <video width="100%" autoplay muted loop>
        <source src="../../videos/landingPage/1 V.mp4" type="video/mp4">
      </video>
    </div>
  </div>
<!-- ...........................show us some love....... -->
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-12 col-md-8 col-sm-8  col-xl-8">
        <div class="col">
          <img class="pl-md-5" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 57.png"
            width="100%" />
        </div>
      </div>
      <div class="col-12 col-lg-4 col-sm-4 col-xl-4 mt-lg-5 pt-lg-5 text-center">
        <div class="col show_love_heading mt-lg-5 mt-md-2">
          SHOW US SOME LOVE ON
        </div>
        <div class="show_love col">
          @iksir_skincare
        </div>
        <div class="col mt-1">
          <i class="fa fa-instagram "></i><span class="show_love_insta">Instagram</span>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="col-12 text-center signup">SIGNUP FOR OUR NEWS LATTER</h3>
      </div>
      <div class="col-md-8 col-sm-7 col-12 p-md-0 col-lg-7">
        <input class=" form-control mr-sm-2 Email float-md-right" type="search" placeholder="YOUR@EMAIL" aria-label="Search">
      </div>
      <div class="col-12 col-sm-4  col-md-4">
        <button class="btn signup_btn my-2 my-sm-0 subBtn" type="submit">SUBSCRIBE</button>
      </div>
    </div>
    
  <hr class="email_line">

    <!-- ...................footer........................................... -->
    <div class="row">
      <div class="col-md-3 col-6 offset-md-3 offset-lg-3 footer1">

        <div class="col footer_head">Our Comapany</div>
        <div class="col text">About</div>
        <div class="col text">Blogs</div>
        <div class="col text">Shop All</div>

      </div>
      <div class="col-md-3 col-6 text-left footer2">
        <ul>
          <div class=" footer_head">Info</div>
          <div class="text">Contact us</div>
          <div class="text">Our Story</div>
          <div class="text">Privacy Policy</div>
        </ul>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../../js/slick.min.js"></script>
  <script src="./landingPage.js"></script>
</body>

</html>