<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./RefreshFormula.css" >
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="../../../css/slick.css" />
    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />
    <title>Refresh Formula</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top bg-light">
      <a class="navbar-brand" href="#">
        <img style="width: 65px;" src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/iksir.svg" />
      </a>
        <div class="order-sm-2 ml-auto">
          <img class="search_icon" src="../../../image/BundlePage/Refresh_Icons/Icons/Icon feather-search.png" />
          <img class="cart_icon" src="../../../image/BundlePage/Refresh_Icons/Icons/shopping-cart.png" />
  
        </div>
        <button class=" navbar-toggler order-sm-12 offset-sm-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">SHOP ALL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OUR PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
          </ul>
        </div>
    </nav>
  
    <div class="container">
        <div class="row">
            <div class="col-3">
              <div class="col-4 line-l"> </div> 
            </div>
            <h3 class="col-6 text-center title">THE REFRESH FORMULA</h3>
            <div class="col-3">
              <div class="col-4 line-r"></div>
            </div>
        </div>
<!-- ..............................................The refresh formula -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-xl-6">
              <div class="slider2">
                <div class="">
                  <img class="SBimage1 mx-auto"
                    src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 151.png" />
                  <hr class="SBimage_line">
                  <div>
                    <div class="SB_product_header text-center mx-md-5">THE REFRESH FORMULA hell</div>
                    <div class="SB_product_text text-center mx-md-5">Exfoliate. Purity. Radiate Add white clay and rosewater
                      to you daily skincare routine</div>
                    <div class="SB_product_prize text-center mx-md-5">$155</div>
                    <div>
                      <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
                    </div>
                  </div>
                </div>
                <div class="">
                  <img class="SBimage2 mx-auto"
                    src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 152.png" />
                  <hr class="SBimage_line">
                  <div>
                    <div class="SB_product_header text-center mx-md-5">FOR THIRSTY SKIN</div>
                    <div class="SB_product_text text-center mx-md-5 mb-md-2 pb-md-1">Glow-boosting hydrater De-stress by
                      massaging and hydrating your skin</div>
                    <div class="SB_product_prize text-center mx-md-5">$155</div>
                    <div>
                      <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
                    </div>
                  </div>
                </div>
                <!-- <div class="">
                  <img class="SBimage1 mx-auto"
                    src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 151.png" />
                  <hr class="SBimage_line">
                  <div>
                    <div class="SB_product_header text-center mx-md-5">THE REFRESH FORMULA hell</div>
                    <div class="SB_product_text text-center mx-md-5">Exfoliate. Purity. Radiate Add white clay and rosewater
                      to you daily skincare routine</div>
                    <div class="SB_product_prize text-center mx-md-5">$155</div>
                    <div>
                      <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="">
                  <img class="SBimage2 mx-auto"
                    src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/Group 152.png" />
                  <hr class="SBimage_line">
                  <div>
                    <div class="SB_product_header text-center mx-md-5">FOR THIRSTY SKIN</div>
                    <div class="SB_product_text text-center mx-md-5 mb-md-2 pb-md-1">Glow-boosting hydrater De-stress by
                      massaging and hydrating your skin</div>
                    <div class="SB_product_prize text-center mx-md-5">$155</div>
                    <div>
                      <button type="button" class="btn grid_btn shop_btn mx-auto">SHOP</button>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
    
            <div class="col-12 col-sm-12 col-md-6 col-xl-6">
              <div class="col-12 text1">
                Exfoliate. Purify. Radiate
              </div>
               <div class="col-2"> <hr class=" line"></div>
               <div class="col-12 cost">
                <b>$155</b> (30ml)
              </div>
              <div class="col-12">
                <button type="button" class="btn grid_btn shop_btn">SHOP</button>
              </div>
              <div class="justify-content-md-center">
                <div class="col-12 mb-3 text-justify text2">
                  Your best allies for a cleansed and refreshed skin
                </div>
                <div col>
                  <div class="col-12 text-justify text3">
                    Have fun using our organic white clay face mask, which is perfect to exfoliate and smoothen your skin or hair scalp.
                  </div>
                  <div class="col-12 text-justify text3">
                    Sourced from the Atlas Moroccan mountains, this natural white clay is known for removing dead skin, tightening open pores and stimulating skin elasticity When applied on hair scalp, white clay acts as anti-dandruff
                  </div>
                  <div class="col-12 text-justify text3">
                    To alleviate redness or get rid of acne, mix iksir organic white clay with rose water which is filled with anti-inflammatory properties and help in removing oil and residuals in clogged pores
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
        <!-- ............................ORGANIC CLEAN AND SIMPLE SKINCARE -->
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-xl-6 mt-md-5">
            <div class="ml-md-5">
              <div class="col-12 HTU1 ">
                ORGANIC CLEAN AND SIMPLE SKINCARE
              </div>
              <div class="col-2"> <hr class=" HTU_line"></div>
              <div class="col-12 pl-md-3 text-justify text2">
                How to use
              </div>
              <div class="col-12" style="width: 27rem;">
                <p class="col-12 pl-md-0 text-justify HTU_text3">
                  As conscious entrepreneurs, we believe in authenticity.
                  simplicity and the benefits of self-care. Our products
                  are organically certified, paraben-free, vegan and
                  cruelty-free:
                </p>
                <ul class="pl-md-3" style="list-style-type:square;">
                  <li class="col-12 text-justify HTU_text3">Mix Iksir white clay with warm water or 'rose water to create a creamy texture</li>
                  <li class="col-12 text-justify HTU_text3">Leave it to dry for 5 to 10 minutes then rinse off End your face cleansing routine by spraying Iksir 'rose</li>
                  <li class="col-12 text-justify HTU_text3">water which is filled with anti-inflammatory property</li>
                  <li class="col-12 text-justify HTU_text3">Repeat the same process 3 to 5 times per week</li>
                </ul>
              </div>
            </div>
          </div> 
          <div class="col-12 col-sm-12 col-md-6 col-xl-6">
            <div class="col-12">
              <img class="image2 mt-md-5 mb-3" src="../../../image/BundlePage/Refresh_Icons/Icons/WhatsApp Image 2020-07-23 at 12.28.15 AM.png" alt="how to use" />
            </div>
          </div>

        </div>
      </div> 

      <!-- ......THE ORGANIC CLEAN SKINCARE ROUTINE -->
      <div class="container-fluid">
        <div class="row" style="background-color: #FFD6B8;">
          <div class="col-12 col-sm-12 col-md-6 col-xl-6">
            <div class="col-12">
              <img class="image3 mt-4 mb-md-4 float-right mr-md-5" src="../../../image/BundlePage/Refresh_Icons/Icons/image3.png" alt="how to use" />
            </div>
          </div>
  
          <div class="col-12 col-sm-12 col-md-6 col-xl-6 mt-5">
            <div class="mt-md-5">
              <div class="col-12 organic_clean_text1">
                THE ORGANIC CLEAN SKINCARE ROUTINE
              </div>
              <div class="col-2"> <hr class=" organic_clean_line"></div>
              <div class="col-9 pl-md-0">
                <p class="col-12 text-justify organic_clean_text3">
                  As conscious entrepreneurs we believe in simplicity,
                   self-care and proven results inspired by beauty secrets used by our ancestors. 
                  Mix Iksir white clay with warm water or rose water' until it becomes a light creamy texture
                </p>
                <ul style="list-style-type:square;">
                  <li class="col-12 text-justify organic_clean_text3">Apply the mixture and let it dry for 5 to 10 minutes then rinse off</li>
                  <li class="col-12 text-justify organic_clean_text3">End your face cleansing routine by spraying Iksir rose water which is filled with anti-inflammatory properties.</li>
                  <li class="col-12 text-justify organic_clean_text3">Repeat this regimen 2 to 3 times per week</li>
                </ul>
              </div>
            </div> 
            </div>
        </div>
        
          <!-- ..............................................Email -->
          <!-- <div class="container-fluid"> -->
            <div class="row">
              <div class="col-md-12">
                <h3 class="col-12 text-center signup">SIGNUP FOR OUR NEWS LATTER</h3>
              </div>
              <div class="col-md-7 col-sm-12">
                <input class=" form-control mr-sm-2 Email float-md-right " type="search" placeholder="YOUR@EMAIL" aria-label="Search">
              </div>
              <div class="col-sm-12 col-md-4">
                <button class="btn signup_btn my-2 my-sm-0 " type="submit">SUBSCRIBE</button>
              </div>
            </div>
            
          <hr class="email_line">

  <!-- ...................footer........................................... -->
        <div class="row">
          <div class="col-3 offset-md-3 offset-lg-3 footer1">
            
              <div class="col head">Our Comapany</div>
              <div class="col text">About</div>
              <div class="col text">Blogs</div>
              <div class="col text">Shop All</div>
            
          </div>
          <div class="col-3 text-left footer2">
            <ul>
              <div class="head">Info</div>
              <div class="text">Contact us</div>
              <div class="text">Our Story</div>
              <div class="text">Privacy Policy</div>
            </ul>
          </div>
        </div>
      </div>
      
   


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./RefreshFormula.js"></script>
  <script src="../../../js/slick.min.js"></script>
  
</body>
</html>