<!doctype html>
<html lang="en">
    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./FullBlog.css">
    <!-- slick -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FullBlog</title>
    </head>
    <body>
        
            <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
                <!-- <a class="navbar-brand" href="#">
                  <img style="width: 65px;" src="../../image/landingpage/Icons-20201006T064829Z-001/Icons/iksir.svg" />
                </a> -->
                <div class="order-sm-2 ml-auto">
                  <img class="search_icon" src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/Icon feather-search.png" />
                  <img class="cart_icon" src="../../../image/landingpage/Icons-20201006T064829Z-001/Icons/shopping-cart.png" />
            
                </div>
                <button class=" navbar-toggler order-sm-12 offset-sm-1" type="button" data-toggle="collapse"
                  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="#">SHOP ALL</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">OUR PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">BLOG</a>
                    </li>
                  </ul>
                </div>
              </nav>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center title">
                    IKSIR NATURALITY PLEDGE AND PASSION FOR ARGAN OIL
                </div>
                <div class="col-12">
                    <img class=" col-10 img mx-auto d-block" src="../../../image/Blog/Blog 1st page icons/IMG_8548.png" />
                </div>
                <div>
                    hello
                </div>
            </div>
        

            <div class="row">
                <div class="col-md-12">
                  <h3 class="col-12 text-center signup">SIGNUP FOR OUR NEWS LATTER</h3>
                </div>
                <div class="col-md-8 col-sm-7 col-12 p-md-0 col-lg-7">
                  <input class=" form-control mr-sm-2 Email float-md-right" type="search" placeholder="YOUR@EMAIL" aria-label="Search">
                </div>
                <div class="col-12 col-sm-4  col-md-4">
                  <button class="btn signup_btn my-2 my-sm-0 subBtn" type="submit">SUBSCRIBE</button>
                </div>
            </div>
            <hr class="email_line">
            <div class="row">
                <div class="col-md-3 col-6 offset-md-3 offset-lg-3 footer1">
                    <div class="col footer_head">Our Comapany</div>
                    <div class="col text">About</div>
                    <div class="col text">Blogs</div>
                    <div class="col text">Shop All</div>
                </div>
                <div class="col-md-3 col-6 text-left footer2">
                    <ul>
                        <div class=" footer_head">Info</div>
                        <div class="text">Contact us</div>
                        <div class="text">Our Story</div>
                        <div class="text">Privacy Policy</div>
                      </ul>
                </div>
            </div>
        </div>
    </body>
</html>
